*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr .5fr;
    min-height: 100vh;
}

header {
    grid-column: 1 / -1;
    background: #333;
    color: white;
}

header h1 {
    margin: 20px;
}

nav { 
  display: flex;
  align-items: center;
  flex: 1 1 auto;
 }

nav a {
    /* display: block; */
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
} 

main {
  grid-column: 1 / span 9;
  background: #d9d9d9;
  padding: 30px;
}

aside {
  grid-column: 10 / span 3;
  background: #fff;
  padding: 30px;
}

footer {
  grid-column: 1 / -1;
  background: #333;
  color: white;
  text-align: center;
  padding: 30px;
}