main{
    padding: 50px;
}

section.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 400px));
    align-items: center;
    justify-content: center;
    gap: 20px;

    a{
        text-decoration: none;
        color: inherit;
    }
}

.card{
    box-shadow: 0 0 10px #999;
    border-radius: 10px;
    padding: 15px;
    transition: .5s;
    position: relative;

    &:hover{
        box-shadow: 0 0 15px #333;
        cursor: pointer;

        button{
            background-color: var(--purple-light);
        }
    }
}

.card.verified .progress-values::after{
    content: "Verified";
    position: absolute;
    right: 20px;
    background-color: green;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.card img{
    width: 100%;
    min-height: 200px;
    max-height: 200px; ;
    border-radius: 10px;
}

.card .title{
    margin-top: 10px;
    color: var(--purple);
}

.card .description{
    margin-top: 5px;
    padding-bottom: 2px;
    font-size: 1.0rem;
    color: #333;
    border-bottom: 1px solid #ccc;
}

.card .progress-bar{
    margin: 15px 0 5px;
    background-color: #ccc;
    height: 10px;
    border-radius: 10px;
}

.card .progress-bar .progress-achieved{
    background-color: var(--purple);
    width: 10%;
    height: 100%;
    border-radius: 10px;
}

.card button{
    margin-top: 15px;
    width: 100%;
    font-size: 1rem;
    padding: 10px 0;
    background-color: var(--purple);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    font-weight: bold;
}