:root {
    --blue: #123b77;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
}

header {
    background-color: var(--blue);

}

header #course-title {
    display: block;
    font-size: 30px;
    font-family: "bebas neue", sans-serif;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    width: 100%;
}

header nav {
    background-color: #444;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 25px;
    transition: .3s;
}

nav a:hover {
    color: #444;
    background-color: #fff;
}

main {
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

main h1 {
    font-family: "bebas neue", sans-serif;
    text-align: center;
    grid-column: span 12;
    margin-bottom: 5px;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid grey;
    background-color: #f4f4f4;
}

.card h2 {
    background-color: var(--blue);
    color: white;
    font-family: "bebas neue", sans-serif;
    letter-spacing: 2px;

    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.card.about-me {
    grid-column: span 8;
}

.card.web-dev-resources {
    grid-column: span 4;
}

.am-content {
    padding: 20px;
    line-height: 1.6;
}

.am-content h4 {
    width: 80%;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.bio {
    min-height: 200px;
}

#profile-picture {
    height: 200px;
    float: right;
    margin-left: 20px;
    object-fit: cover;
}

.country-details {
    margin-top: 15px;
    min-height: 225px;
}

#country-flag {
    float: left;
    height: 150px;
    margin-right: 20px;
    border: 1px solid #ccc;
}

.wdr-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 89%;
}

footer {
    padding: 30px;
    text-align: center;
    background-color: var(--blue);
    color: white;
}

footer .last-modification {
    color: yellow;
}