@media screen and (max-width:600px) {

    main {
        padding: 10px;
    }

    main .album {
        grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));

    }

    header nav {
        display: none;
        padding-top: 50px;
    }


    header nav.open {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 85%;
        flex-direction: column;
        background-color: var(--blue);
        border-left: 2px solid #379ba8;
    }

    button#menuToggle {
        display: block;
        font-size: 30px;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;

        position: absolute;
        top: 10px;
        right: 10px;
    }
}